asgiref                  
autopep8                 
CacheControl             
cachetools               
certifi                  
charset-normalizer       
click                    
cloudinary               
colorama                 
Django                   
dnspython                
firebase-admin           
Flask                    
Flask-PyMongo            
google-api-core          
google-api-python-client 
google-auth              
google-auth-httplib2     
google-cloud-core        
google-cloud-firestore   
google-cloud-storage     
google-crc32c            
google-resumable-media   
googleapis-common-protos 
grpcio                   
grpcio-status            
httplib2                 
idna                     
importlib-metadata       
itsdangerous             
Jinja2                   
MarkupSafe               
msgpack                  
pi                       
Pillow                   
pip                      
proto-plus               
protobuf                 
pyasn1                   
pyasn1-modules           
pycodestyle              
pymongo                  
pyparsing                               
python-dotenv            
requests                 
rsa                      
setuptools               
six                      
sqlparse                 
toml                     
tzdata                   
uritemplate              
urllib3                  
Werkzeug                 
zipp
gunicorn
